<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5 mb-5">
      <div class="card-body" id="connecter">
          <h1 class="text-center">Modifier un Article</h1>
          <%= form_with(model: @produit, local: true) do |form| %>
            <% if @produit.errors.any? %>
              <div class="mb-3" id="error_explanation">
                <h2><%= pluralize(@produit.errors.count, "error") %> Utilisateur non sauvegarder :</h2>
                <ul>
                <% @produit.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="mb-3">
              <%= form.label :nom %>
              <%= form.text_field :nom, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= form.label :description %>
              <%= form.text_field :description, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= form.label :prix %>
              <%= form.text_field :prix, class: "form-control"%>
            </div>

            <div class="mb-3">
              <%= form.label :image %>
              <%= form.file_field :image, class: "form-control" %>
            </div>

            <div class="text-center mb-3">
              <%= form.submit "Modifier Article", class: "btn btn-primary" %>
              <%= link_to 'Retour', {:controller => 'produits', :action => 'index'}, class: 'btn btn-secondary mr-2' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>