
    <div class="">
        <h1 class="d-flex align-items-center justify-content-center">Bienvenue en Back-office </h1>
    <table class="table table-striped table-dark">
      <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom de l'Artice</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
             <th scope="col">Image</th>
            <th scope="col" class="d-flex align-items-center justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @produits.each do | produit| %>
            <tr>
                <th scope="row"><%= produit.id %></th>
                <td><%= produit.nom %></td>
                <td><%= produit.description %></td>
                <td><%= produit.prix %>€</td>
                <td >
                <% if produit.image.attached? %>
                    <%= image_tag(produit.image, class: "imageback") %>
                <% else %>
                 Aucune image disponible
                <% end %>
                </td>
                 <td class="d-flex align-items-center justify-content-center">
                     <%= link_to 'Detail', produit_path(produit.id), method: 'GET', class:'btn btn-info mr-2 m-2' %>
                   	 <%= link_to 'Editer', edit_produit_path(produit.id), class: 'btn btn-primary mr-2 m-2' %>
                     <%= button_to 'Delete', produit_path(produit.id), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger mr-2' %>
                 </td> 
            </tr>
            <% end %>
        </tbody>
      </table>
    <div class="d-flex justify-content-center">
    <% if @page > 0 %>
        <span class="badge badge-primary fs-5">
        <%= link_to "Précédant", produits_path(page: @page - 1) %>
        </span>
    <% end %>
    
    <div class="me-4"></div>
    
    <% if @produits.size == ProduitsController::PRODUIT_PAGE %>
        <span class="badge badge-primary fs-5">
        <%= link_to "Suivant", produits_path(page: @page + 1) %>
        </span>
    <% end %>
    <div class="mb-5"></div>
    </div>

 </div>


