
    <div class="">
        <h1 class="d-flex align-items-center justify-content-center mb-5 mt-5">Liste des utilisateurs </h1>
        <div class="d-flex align-items-center justify-content-center">
            
        </div>
    <table class="table table-striped table-dark mb-5">
      <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th> <!-- New Admin Column -->
            <th scope="col" class="d-flex align-items-center justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @user.each do |user| %>
            <tr>
                <th scope="row"><%= user.id %></th>
                <td><%= user.prenom %></td>
                <td><%= user.nom %></td>
                <td><%= user.email %></td>
                <td>
                    <span class="<%= user.admin ? 'badge badge-success' : 'badge badge-light' %>">
                        <%= user.admin ? 'Admin' : 'User' %>
                    </span>
                </td>
                 <td class="d-flex align-items-center justify-content-center">
                     <%= link_to 'Detail', user_path(user.id), method: 'GET', class:'btn btn-info mr-2 m-2' %>
                   	 <%= link_to 'Editer', edit_user_path(user.id), class: 'btn btn-primary mr-2 m-2' %>
                     <% if !user.admin %>
                        <%= button_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger mr-2' %>
                     <% end %>
                 </td> 
            </tr>
            <% end %>
        </tbody>
      </table>
    <div class="d-flex justify-content-center">
    <% if @page > 0 %>
        <span class="badge badge-primary fs-5">
        <%= link_to "Précédant", {:controller => 'users', :action =>'index', page: @page - 1  } %>
        </span>
    <% end %>
    
    <div class="me-4"></div>
    
    <% if @user.size == UsersController::PRODUIT_PAGE %>
        <span class="badge badge-primary fs-5">
        <%= link_to "Suivant", {:controller => 'users', :action =>'index', page: @page + 1  } %>
        </span>
    <% end %>
    <div class="mb-5"></div>
    </div>
</div>