<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Market</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <div class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <div class="nav-item text-center mx-2 mx-lg-1">
                    <%= link_to "Accueil", root_path, class: 'nav-link' %>
                </div>
                <div class="nav-item text-center mx-2 mx-lg-1">
                    <%= link_to "Contact", {:controller => 'contact', :action =>'index' }, class: 'nav-link' %>
                </div>
                <% unless session[:user_id] %>
                    <div class="nav-item text-center mx-2 mx-lg-1">
                        <%= link_to 'S\'inscrire', {:controller => 'registrations', :action =>'new' }, class: 'nav-link' %>
                    </div>
                    <div class="nav-item text-center mx-2 mx-lg-1">
                        <%= link_to 'Connexion', new_session_path, class: 'nav-link' %>
                    </div>
                <% end %>
            </div>
            <!-- Left links -->

            <!-- Right links -->
            <div class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
                <% if session[:user_id] %>
                <div class="nav-item text-center mx-2 mx-lg-1 me-6">
                    <span class="nav-link">Bonjour, <%= User.find(session[:user_id]).prenom %> !</span>
                </div>
                <div class="nav-item text-center mx-2 mx-lg-1 me-6">
                    <%= link_to "Ajouter Article", new_produit_path, class: 'nav-link' %>
                </div>
                <div class="nav-item text-center mx-2 mx-lg-1 me-6">
                    <%= link_to "Articles", {:controller => 'produits', :action => 'index'}, class: 'nav-link' %>
                </div>
                <div class="nav-item text-center mx-2 mx-lg-1 me-6">
                    <%= link_to 'Déconnexion', logout_path, method: :delete, class: 'nav-link' %>
                </div>
                <% end %>
                <% if session[:user_id] && current_user.admin? %>
                    <div class="nav-item text-center mx-2 mx-lg-1 me-6">
                        <%= link_to "Liste Users", {:controller => 'users', :action => 'index'}, class: 'nav-link' %>
                    </div>
                    <div class="nav-item text-center mx-2 mx-lg-1 me-6">
                        <%= link_to "Droit Admin", {:controller => 'users', :action => 'new'}, class: 'nav-link' %>
                    </div>
                    
                <% end %>

            </div>
            <!-- Right links -->

            <!-- Search form -->
            <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
                <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </form>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
